extends base
include _pagination

block content
  main.main
    if user
        .post-view__content
            .post-view__form-container
                if user
                    h2.heading-secondary.ma-bt-md Įrašyk naują paskyrimą  
                    form.form.form-post-data
                    
                        .form__group
                            label.form__label(for='irasas') Kliento vardas ir pavardė
                            input#client.form__input(type='text', placeholder='Vardas Pavardė', required, name='client')

                        .form__group
                            label.form__label(for='irasas') Kliento mobilaus telefono numeris
                            input#phones.form__input(type='text', placeholder='Telefono numeris +370...', required, name='phones')

                        .form__group
                            label.form__label(for='irasas') Duomenys pristatymui
                            input#delivery.form__input(type='text', placeholder='Pristatymo adresas arba paštomatas', required, name='delivery')

                        .form__group.ma-bt-md
                            label.form__label(for='irasas') Vieta parinktiems komponentams
                            input#body.form__input(type='text', placeholder='Receptas', required, name='body')
                        .form__group.right
                            button.btn.btn--small.btn--green Išsaugoti

        - if (user.role === 'admin')        
            .card-container
                each post in posts
                    .card
                        .card__header
                            h3.heading-tertirary
                                span= post.timeStamp
                        .card__details  
                            p.card__text= `${post.timeStamp.toLocaleString('en-us', {month: 'numeric', year: 'numeric', day: '2-digit'})}`
                            p.card__text= post.body
                        .card__footer
                            p.card__ratings
                            a.btn.btn--green.btn--small(href=`/post/${post._id}`) Daugiau apie tai

            .pagination-view__content
                +pagination(pages, current_page, 9)

    else
        .post-view__content
            .post-view__form-container 
                h2.heading-secondary.ma-bt-md       
                form.form.form-post-data
                a.btn.btn--green.span-all-rows(href='/login') Prisijunk jei nori parašyti!



    
        